body,div{font-size:12px;}
tr{height:32px;}
.logee{
background-color:red;
height:1500px;
width:1500px;
position:absolute;
z-index:3;
filter: alpha(opacity=10); opacity: 0.1;
}
.logeebody{
background-color:pink;
height:300px;
width:600px;
position:fixed!important;
position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));

z-index:4;
left:300px;
top:100px;
}
.firstbody{
background-color:black;
height:1500px;
width:1500px;
position:absolute;
z-index:1;
}
#button{
margin-left:60px;
}